@import "tailwindcss";
body {
  overflow-x: hidden;
  
}
@theme{
    --color-primary:#FDFBF9;
    --color-secondery:#a07a51;
    --color-banner:#2A2A28;
    --color-product:#724C2E;
    --color-buttons:#775836;
}
