@import "tailwindcss";
body {
  overflow-x: hidden;
  
}
@theme{
    --color-primary:#FDFBF9;
    --color-secondery:#a07a51;
    --color-banner:#2A2A28;
    --color-product:#724C2E;
    --color-buttons:#775836;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn { animation: fadeIn 0.2s ease-out; }

@keyframes scaleIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
.animate-scaleIn { animation: scaleIn 0.25s ease-out; }
